<!DOCTYPE html> 
<head> 
    <title> Investment Portfolio Api </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <style>
        * {
            font-family: Arial;
        }
    </style> 
</head>
<body> 